h2 user register
form(action='/signUp', method='post')
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    | name
    input(type='text' , name='name')
    br
    |admin
    input(type='text',name='admin')
    br
    |username
    input(type='text',name='username')
    br
    |location
    input(type='text',name='location')
    br
    input(type='submit',value='submit')
    br
    hr

h2 user login
form(action='/login', method='post')
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    input(type='submit',value='submit')
    br
    hr
h2 show all user
form(action='/user',method='get')
    |br
    input(type='submit')

h2 show all user
form(action='/user/?email',method='get')
    |br
    input(type='text',name='email')
    |br
    input(type='submit')
h2 update data
form(action='/updateData',method='post')
    | name
    |br
    input(type='text',name='name')
    |email
    |br
    input(type='text',name='email')
    |password
    |br
    input(type='text',name='password')
    |br
    input(type='submit')
h2 add category
form(action='/addCategory',method='post')
    |categoryName
    br
    input(type='text',name='categoryName')
    |accessToken
    br
    input(type='text',name='accessToken')
    |br
    input(type='submit')

h2 delete category
form(action='/deleteCategory',method='post')
    | categoryId
    br
    input(type='text',name='categoryId')
    |accessToken
    br
    input(type='text',name='accessToken')
    |br
    input(type='submit')

h2 /showAllCategory
form(action='/showAllCategory',method='post')
    |br
    input(type='submit')
h2 /updateCategory
form(action='/updateCategory',method='post')
    |categoryId
    br
    input(type='text',name='categoryId')
    |categoryName
    br
    input(type='text',name='categoryName')
    br
    input(type='submit')
h2 /showCategory
form(action='/showCategory',method='post')
    |categoryId
    br
    input(type='text',name='categoryId')
    br
    input(type='submit')

h2 add product
form(action='/addProduct',method='post')
    br
    |accessToken
    input(type='text',name='accessToken')
    br
    |productName
    input(type='text',name='productName')
    br
    |description
    input(type='text',name='description')
    br
    |image
    input(type='text',name='image')
    br
    |icon
    input(type='text',name='icon')
    br
    |price
    input(type='text',name='price')
    br
    |phone
    input(type='text',name='phone')
    br
    |dealLocation
    input(type='text',name='dealLocation')
    br
    |offerValidFrom
    input(type='text',name='offerValidFrom')
    br
    |code
    input(type='text',name='code')
    br
    |categoryId
    input(type='text',name='categoryId')
    br
    input(type='submit')

h2 /deleteProduct
form(action='/deleteProduct',method='post')
    |accessToken
    br
    input(type='text',name='accessToken')
    |productId
    br
    input(type='text',name='productId')
    br
    input(type='submit')

h2 /registerAdmin
form(action='/registerAdmin',method='post')
    |name
    br
    input(type='text',name='name')
    br
    |email
    input(type='text',name='email')
    br
    |password
    input(type='text',name='password')
    br
    input(type='submit')